@charset "UTF-8";

html{
	background-color: #e6ffff;
}
h1{
	background-color: #6699ff;
	
}
img{
	width: 100px;
	height: 100px;
	text-align: center;
	margin: 2px;
}
img.pepe:hover{
	opacity: 0.3;
}
.sec{
	text-align: center;
}

	


.c1{
	position: relative;
	right: -100px;	
	
}

p{
	color: blue;
	box-sizing: content-box;
	width: 500px;
	height: 500px;
	display: inline-block;
	position: relative;
	left: -500px;
	top: -15px;
	
}
.foto2{
	width: 500px;
	height: 500px;
}

.sec2{
	text-align: center;
	background-color: blue;
	position: relative;
	top:-50px;
}